<mat-list class="menu-navigation">
   <a class="list-option-link" routerLink="/graficas">
      <mat-list-item class="list-option" role="list-item-page" [routerLinkActive]="'is-active'">Gráficas</mat-list-item>
   </a>
   <mat-divider></mat-divider>
   <a class="list-option-link" routerLink="/video" >
      <mat-list-item class="list-option" role="list-item-page" [routerLinkActive]="'is-active'">Vídeo</mat-list-item>
   </a>
   <mat-divider></mat-divider>
   <a class="list-option-link" routerLink="/chat">
      <mat-list-item class="list-option" role="list-item-page" [routerLinkActive]="'is-active'">Chat</mat-list-item>
   </a>
</mat-list>
