<section class="graphs-content">
   <button mat-raised-button routerLink="/graficas/formulario">Agregar Valores para las gráficas</button>
   <mat-tab-group class="mat-tab-group" (selectedTabChange)="tabChanged($event)">
      <mat-tab label="Gráfica de Barras">
         <app-bar-graph></app-bar-graph>
      </mat-tab>
      <mat-tab label="Gráfica de Líneas">
         <app-linear-graph></app-linear-graph>
      </mat-tab>
      <mat-tab label="Gráfica Circular">
         <app-circle-graph></app-circle-graph>
      </mat-tab>
   </mat-tab-group>
</section>
