.graphs-content {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   gap: 1rem 0;
}

section {
   max-width: 70vw;
}


/* ::ng-deep div.mat-tab-labels {
   justify-content: space-around;

}

::ng-deep .mat-ink-bar {
   justify-content: space-around;

} */