.its-filtered {
   opacity: 0.25;
}


.its-text-marked {
   text-decoration-line: line-through;
}

.text-porcentage {
   font-size: 3rem;
}

.pie-selected {
   filter: brightness(70%);;
   transition: filter linear 300ms;
}