<svg [attr.height]="heightGraph$ | async" [attr.width]="widthGraph$ | async">

   

   <g *ngIf="heightGraph$ | async; let height">

      <g *ngIf="widthGraph$ | async; let width">

         <text class="text-porcentage" [attr.x]="0" [attr.y]="height * 0.5" stroke="black" 
         >
               {{porcentNumber}} %
         </text>

         <circle [attr.r]="height * 0.4" [attr.cx]="width * 0.5" [attr.cy]="height * 0.5" fill="white" />
         
         <circle #circle *ngFor="let circleGraph of circlesGraph$ | async" 
            (mouseover)="setValuePorcentage(circleGraph.value, $event, circleGraph.startAngleValueSpaceColor)"
            (mouseleave)="removeSelectedClass($event)"
            [attr.r]="height * 0.2" [attr.cx]="width * 0.5" 
            [attr.cy]="height * 0.5" fill="transparent"
            [attr.stroke]="circleGraph.color"
            [attr.stroke-width]="height * 0.4"
            [attr.stroke-dasharray]="circleGraph.emptyValueSpaceColor + ' ' + circleGraph.valueSpaceColor" 
            [attr.transform]="'rotate(' + circleGraph.startAngleValueSpaceColor + ')'"
            transform-origin="center"
         />

      </g>
      
   </g>
   

   <text *ngFor="let textGraph of textsGraph$ | async" 
         [attr.x]="textGraph.x" [attr.y]="textGraph.y"
         [attr.stroke]="textGraph.color" 
         [attr.stroke-width]="textGraph.strokeWidth"
         [attr.textLength]="textGraph.textLength"
         [ngClass]="textGraph.itsFiltered ? 'its-text-marked': ''"  
   >
      {{textGraph.content}}
   </text>

   <rect 
      *ngFor="let rectGraph of rectsGraph$ | async" 
      [attr.x]="rectGraph.x" [attr.y]="rectGraph.y" 
      [attr.width]="rectGraph.width" [attr.height]="rectGraph.height" 
      [attr.rx]="rectGraph.rx" [attr.ry]="rectGraph.ry" 
      [attr.fill]="rectGraph.color" [attr.data-position]="rectGraph.id"
      (click)="filterLegend(rectGraph.id)"
      [ngClass]="rectGraph.itsFiltered ? 'its-filtered': ''"
   />
</svg>