<svg [attr.height]="heightGraph$ | async" [attr.width]="widthGraph$ | async">

   <line 
      *ngFor="let lineGraph of linesGraph$ | async"
      [attr.x1]="lineGraph.x1" [attr.y1]="lineGraph.y1" [attr.x2]="lineGraph.x2" [attr.y2]="lineGraph.y2"
      [attr.stroke]="lineGraph.stroke" [attr.stroke-width]="lineGraph.strokeWidth"
   >
   </line>

   <text *ngFor="let textGraph of textsGraph$ | async" 
         [attr.x]="textGraph.x" [attr.y]="textGraph.y"
         [attr.stroke]="textGraph.color" 
         [attr.stroke-width]="textGraph.strokeWidth"
         [attr.textLength]="textGraph.textLength"
         [ngClass]="textGraph.itsFiltered ? 'its-text-marked': ''"  
   >
      {{textGraph.content}}
   </text>

   <rect 
      *ngFor="let rectGraph of rectsGraph$ | async" 
      [attr.x]="rectGraph.x" [attr.y]="rectGraph.y" 
      [attr.width]="rectGraph.width" [attr.height]="rectGraph.height" 
      [attr.rx]="rectGraph.rx" [attr.ry]="rectGraph.ry" 
      [attr.fill]="rectGraph.color" [attr.data-position]="rectGraph.id"
      (click)="filterLegend(rectGraph.id)"
      [ngClass]="rectGraph.itsFiltered ? 'its-filtered': ''"
   />

</svg>